<div class="notifications-container">
  <h2>{{ 'NOTIFICATIONS.TITLE' | translate }}</h2>
  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <ul class="notifications-list">
      <li *ngFor="let notification of notifications" [class.read]="notification.read">
        <span class="notification-message">{{ notification.message }}</span>
        <span class="notification-timestamp">{{ notification.timestamp | date:'short' }}</span>
        <button (click)="markAsRead(notification.id)" *ngIf="!notification.read">
          {{ 'NOTIFICATIONS.MARK_AS_READ' | translate }}
        </button>
      </li>
    </ul>
    <button (click)="clearNotifications()" *ngIf="notifications.length > 0">
      {{ 'NOTIFICATIONS.CLEAR_ALL' | translate }}
    </button>
  </ng-container>
  <ng-template #noNotifications>
    <p>{{ 'NOTIFICATIONS.NO_NOTIFICATIONS' | translate }}</p>
  </ng-template>
</div>