<div class="course-catalog">
  <h2>{{ "COURSES.CATALOG" | translate }}</h2>
  <div class="categories">
    <button
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
    >
      {{ category }}
    </button>
  </div>
  <div class="courses">
    <div *ngFor="let course of filteredCourses">
      <h3>{{ course.title }}</h3>
      <p>{{ course.description }}</p>
      <a [routerLink]="['/courses', course._id]">{{
        "COURSES.VIEW_DETAILS" | translate
      }}</a>
    </div>
  </div>
</div>
