<mat-toolbar color="primary">
  <span>{{ 'APP.NAME' | translate }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/courses">{{ 'NAV.COURSES' | translate }}</button>
  <ng-container *ngIf="authService.isLoggedIn()">
    <button mat-button routerLink="/recommendations">{{ 'NAV.RECOMMENDATIONS' | translate }}</button>
    <button mat-button routerLink="/dashboard">{{ 'NAV.DASHBOARD' | translate }}</button>
    <button mat-button routerLink="/profile">{{ 'NAV.PROFILE' | translate }}</button>
    <button mat-button routerLink="/two-factor-settings">{{ 'NAV.TWO_FACTOR_SETTINGS' | translate }}</button>
  </ng-container>
  <button mat-button routerLink="/admin" *ngIf="authService.isAdmin()">{{ 'NAV.ADMIN' | translate }}</button>
  <ng-container *ngIf="!authService.isLoggedIn()">
    <button mat-button routerLink="/login">{{ 'NAV.LOGIN' | translate }}</button>
    <button mat-button routerLink="/register">{{ 'NAV.REGISTER' | translate }}</button>
  </ng-container>
  <button mat-button (click)="authService.logout()" *ngIf="authService.isLoggedIn()">{{ 'NAV.LOGOUT' | translate }}</button>
</mat-toolbar>