<mat-toolbar color="primary">
  <span>SkillSync</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="languageMenu">
    {{ 'COMMON.LANGUAGE' | translate }}
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let lang of languages" (click)="switchLanguage(lang.code)">
      {{ lang.name }}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
    <mat-icon [matBadge]="notifications.length" matBadgeColor="warn">notifications</mat-icon>
  </button>
  <mat-menu #notificationMenu="matMenu">
    <div *ngIf="notifications.length === 0" mat-menu-item disabled>
      {{ 'NOTIFICATIONS.NO_NOTIFICATIONS' | translate }}
    </div>
    <button mat-menu-item *ngFor="let notification of notifications" (click)="markNotificationAsRead(notification.id)">
      {{ notification.message }}
    </button>
    <mat-divider *ngIf="notifications.length > 0"></mat-divider>
    <button mat-menu-item *ngIf="notifications.length > 0" (click)="clearNotifications()">
      {{ 'NOTIFICATIONS.CLEAR_ALL' | translate }}
    </button>
  </mat-menu>
  <button mat-button (click)="logout()">{{ 'COMMON.LOGOUT' | translate }}</button>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <!-- Footer content -->
</footer>
